h1{
  text-align: center;
  margin-bottom: 10px;
<<<<<<< HEAD
=======
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size: 30pt;
  margin-bottom: 15px;
>>>>>>> d60933e51b244c53d2b5f1ab290db1f63aa5e273
}
#img-sponsor {
  display: block;
  max-width: 50%;
  max-height: 50%;
  background-size: 100% auto;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

<<<<<<< HEAD
=======
#img-sponsor {
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
>>>>>>> d60933e51b244c53d2b5f1ab290db1f63aa5e273
}

#sportif-address{
  text-align: center;
  margin-bottom: 60px;
}

#sportif-description{
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
<<<<<<< HEAD
  font-family:arial, sans-serif;
  font-style: oblique;
}

.card-body {
  text-align: center;
}

body > div.container > div > div.col-4.text-center > div > p {
  margin-bottom: 50px;
  margin-top:  50px;
}
=======
  font-family: 'Libre Caslon Display', serif;
  font-style: oblique;
}
>>>>>>> d60933e51b244c53d2b5f1ab290db1f63aa5e273

#sportif-offers {
  color: white;
  background-color: #75c6ea;
  font-weight: light;
}

.card-body {
  text-align: center;
}

body > div.container > div > div.col-4.text-center > div > p {
  margin-bottom: 50px;
  margin-top:  50px;
}
