<h1>Your reservations</h1>
<ul>
  <% @reservations.each do |reservation| %>
    <li><%= reservation.sportif.name %> for <%= reservation.total_price %>€<br>
      This reservation is <%= reservation.status %></li>
  <% end %>
</ul>
