    <div class="col card-category" id="circle" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path sportif.photo %>')">
      <%= link_to sportif.name, sportif_path(sportif)  %>
    </div>
