#formulaire {
  margin: 0 auto;
}

.form {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/07/48/465811cc88e057c.jpg");
  background-size: cover;
  // background-position: center;
  padding: 60px 0;
  height: calc(100vh - 146px);
}
