#formulaire {
  margin: 0 auto;
  margin-bottom: 48px;
}

#formulaire h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 54px;
}
.form {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/07/48/465811cc88e057c.jpg");
  background-size: cover;
  // background-position: center;
  padding: 60px 0;
}
